# Virtual environment
venv/
.env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
logs/
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE/Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Python packaging
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints (if ever used)
.ipynb_checkpoints/
